#To deactivate an spec. Block, write the Block (for example minecraft:end_portal_frame) under Blocks.#
<Blocks>
lycanitesmobs:doomfire
lycanitesmobs:hellfire
lycanitesmobs:primefire
lycanitesmobs:icefire
lycanitesmobs:shadowfire
lycanitesmobs:scorchfire
lycanitesmobs:frostfire
lycanitesmobs:poopcloud
lycanitesmobs:poisoncloud
lycanitesmobs:frostcloud
dynamictrees:oakbranch
dynamictrees:oakbranchx
dynamictrees:sprucebranch
dynamictrees:sprucebranchx
dynamictrees:birchbranch
dynamictrees:junglebranch
dynamictrees:junglebranchx
dynamictrees:acaciabranch
dynamictrees:darkoakbranch
dynamictrees:darkoakbranchx
dynamictrees:cactusbranch
dynamictreesdefiledlands:tenebrabranch
dttraverse:firbranch
rustic:olivebranch
rustic:ironwoodbranch
lycanitesmobs:moglava
lycanitesmobs:ooze
lycanitesmobs:poison
lycanitesmobs:acid
lycanitesmobs:rabbitooze
lycanitesmobs:sharacid
lycanitesmobs:vesspoison
lycanitesmobs:veshoney
rustic:olive_oil
rustic:ironberry_juice
rustic:wildberry_juice
rustic:grape_juice
rustic:apple_juice
rustic:ale_wort
rustic:honey
