# Configuration file

general {
    # Min: -1.0
    # Max: 0.0
    D:speedModifier=-0.65

    cargocart {
        S:canPull <
            minecraft:horse
            minecraft:donkey
            minecraft:mule
            minecraft:pig
            minecraft:player
            lycanitesmobs:ventoraptor
            lycanitesmobs:uvaraptor
            lycanitesmobs:feradon
            lycanitesmobs:warg
            lycanitesmobs:shade
            lycanitesmobs:lurker
            lycanitesmobs:pinky
            lycanitesmobs:barghest
            lycanitesmobs:erepede
            minecraft:wolf
         >
    }

    plowcart {
        S:canPull <
            minecraft:horse
            minecraft:donkey
            minecraft:mule
            minecraft:pig
            minecraft:player
            lycanitesmobs:ventoraptor
            lycanitesmobs:uvaraptor
            lycanitesmobs:feradon
            lycanitesmobs:warg
            lycanitesmobs:shade
            lycanitesmobs:lurker
            lycanitesmobs:pinky
            lycanitesmobs:barghest
            lycanitesmobs:erepede
            minecraft:wolf
         >
    }

    mobcart {
        S:canPull <
            minecraft:horse
            minecraft:donkey
            minecraft:mule
            minecraft:pig
            minecraft:player
            lycanitesmobs:ventoraptor
            lycanitesmobs:uvaraptor
            lycanitesmobs:feradon
            lycanitesmobs:warg
            lycanitesmobs:shade
            lycanitesmobs:lurker
            lycanitesmobs:pinky
            lycanitesmobs:barghest
            lycanitesmobs:erepede
            minecraft:wolf
         >
    }

}


