# Configuration file

~CONFIG_VERSION: 1.3.8

"bug fixes" {
    # Horse on stairs "moved wrongly!" error
    B:mc100830 <
        true
        true
     >

    # Chunk-wise entity lists often don't get updated correctly (Entities disappear)
    B:mc108469 <
        true
        true
     >

    # Observers output a signal when placed
    B:mc109832 <
        true
        true
     >

    # Elytras can't open in laggy game.
    B:mc111444 <
        true
        true
     >

    # §c[Experimental]§e Item entities turn invisible when dropped on the ground
    B:mc111978 <
        false
        false
     >

    # Whether or not a player experiences some effect is calculated based on the block under the center of the player
    B:mc1133 <
        true
        true
     >

    # §c[Experimental]§e Blocks take multiple attempts to mine
    B:mc118710 <
        false
        false
     >

    # Various duplications, deletions, and data corruption at chunk boundaries, caused
    # by loading outdated chunks â€” includes duping and deletion of entities/mobs,
    # items in hoppers, and blocks moved by pistons, among other problems
    B:mc119971 <
        true
        true
     >

    # Overloaded servers pointlessly wait up to 50 ms every couple ticks. Also fixes various other timing issues in the server main loop.
    B:mc121196 <
        false
        false
     >

    # Comparator in subtraction mode does not update visually under certain conditions (Also fixes MC-63669 and MC-94838)
    B:mc12211 <
        true
        true
     >

    # Items do not move through blocks smoothly
    B:mc123320 <
        false
        false
     >

    # Spectator menu does no longer show skins (up to 1.12.2)
    B:mc125157 <
        true
        true
     >

    # AbstractMap::hashCode accounts for substantial CPU overhead (from profiling)
    B:mc134989 <
        false
        false
     >

    # Leads in unloaded chunks break, become invisible or connect to an invisible target far away
    B:mc14826 <
        true
        true
     >

    # Crafted item statistics do not account for non-one stacksizes when crafted by pressing DROP
    B:mc161869 <
        true
        true
     >

    # Mobs going out of fenced areas/suffocate in blocks when loading chunks
    B:mc2025 <
        true
        true
     >

    # Transparent blocks visually use the brighter light level that they are next to
    B:mc2399 <
        false
        false
     >

    # Item drops sometimes appear at the wrong location
    B:mc4 <
        false
        false
     >

    # Blocks attached to slime blocks can create ghost blocks
    B:mc54026 <
        true
        true
     >

    # High efficiency tools / fast mining destroys some blocks client-side only
    B:mc5694 <
        false
        false
     >

    # Chunks are not rendered in first person in some cases
    B:mc63020 <
        true
        true
     >

    # Mobs "control" the minecart they are riding
    B:mc64836 <
        true
        true
     >

    # False negatives during occlusion culling
    B:mc70850 <
        false
        false
     >

    # Witch Hut structure data do not account for height the witch hut is generated at
    B:mc73051 <
        true
        true
     >

    # Mobs suffocate when going through nether portals.
    B:mc80032 <
        true
        true
     >

    # End City chests generate destroyed, items on the ground
    B:mc83039 <
        true
        true
     >

    # §c[Experimental]§e Piston no longer retracts an extended piston when de-powered at the same time (instant piston double retraction)
    B:mc88959 <
        false
        false
     >

    # Player is removed from the EntityTracker when teleporting to unloaded chunks or changing dimensions,
    # resulting in client side desync
    B:mc92916 <
        true
        true
     >

    # Mobs suffocate / go through blocks when growing up near a solid block
    B:mc9568 <
        true
        true
     >

    # Portals generate far-away chunks & set player on fire.
    B:mc98153 <
        true
        true
     >

    mc1133 {
        # Only apply to players to help reduce CPU load.
        B:"Only Players"=true
    }

}


modpatches {
    # Recurrent Complex has an optimization feature called "HeightMapFreezer" designed to stop the vanilla light engine while
    # structures are being generated. This confuses the newlight optimization and is unnecessary due to newlight batching light
    # updates on its own.
    B:rcnewlight <
        false
        false
     >

    # Extends MC-54026 and MC-88959 support to Redstone++ pistons.
    B:redstoneplusplus <
        false
        false
     >

    # Fixes issues with the Redstone++ crafting table not registering with Astral Sorcery collector crystals.
    B:rsppas <
        false
        false
     >

    # VanillaFix and FoamFix both try to fix a BlockStateContainer serialization bug. This disables VanillaFix's version if FoamFix has it enabled.
    B:vanillafoamfix <
        false
        false
     >
}


optimizations {
    # This is a complete drop in replacement for the vanilla Block and Sky lighting engine.
    # It provides considerable performance improvements to light updates and fixes many
    # vanilla lighting bugs such as MC-3329, MC-3961, MC-9188, MC-11571, MC-80966,
    # MC-91136, MC-93132, MC-102162, and likely others.
    B:newlight <
        false
        false
     >

    # This is a rewrite of redstone wire developed by theosib with the aim of increasing
    # performance while maintaining compatibility with vanilla as much as possible. It has
    # been shown to increase performance by as much as 10x and removes directional or
    # locational requirements for many things. It fixes MC-81098 and MC-11193.
    B:rsturbo <
        false
        false
     >
}


tweaks {
    # Prevents the server from resetting the position of (rubber banding) clients that move "too quickly".
    B:dac <
        true
        true
     >

    # Edit the maximum range at which the server will send entity data to the client and how often the server updates the client.
    # Setting the tracking distance larger than the view distance will cause it to be set to the current view distance.
    B:ete <
        false
        false
     >

    # Forge for 1.12.2 has a race condition in its networking code for custom packets that can cause the sender of a client packet
    # to be incorrectly set very rarely. This can cause many types of rare and hard to diagnose glitches with mods that use a lot
    # of custom network packets.
    B:forgenetrace <
        false
        false
     >

    # Enables server MSPT/TPS display in player list overlay and enables the overlay in
    # single player. Shows 5 second average and updates once per second.
    B:hud <
        true
        true
     >

    # Adds a sequence number to all network packets and checks them. If any are missed an error message will be logged.
    # If you suspect packet drops above the TCP layer this should at least detect them.
    # This tweak is very nasty and should only be loaded for debugging purposes. It adds 4 bytes to every packet sent.
    B:netseqcheck <
        false
        false
     >

    # Enables server side profiler features available under the /tickhealth command:
    #     /tickhealth <basic|entities> [tick count]
    B:profiler <
        false
        false
     >

    # Allows lifting some block placement restrictions.
    B:rbp <
        false
        false
     >

    # Edit various advanced server properties such as the autosave interval or maximum chunks to unload.
    B:serverprop <
        false
        false
     >

    # Edit the maximum client render distance of various entities. The client cannot render entities it does not know about.
    # Make sure the server tracking distance is also adjusted using the Entity Tracking Editor tweak.
    B:vde <
        false
        false
     >

    ete {

        distances {
            # Area of Effect Cloud
            I:AreaEffectCloud=160

            # Armor Stand
            I:ArmorStand=160

            # Arrow
            I:Arrow=64

            # Bat
            I:Bat=80

            # Boat
            I:Boat=80

            # Dragon
            I:Dragon=160

            # Egg
            I:Egg=64

            # Ender Crystal
            I:EnderCrystal=256

            # Ender Eye
            I:EnderEye=64

            # Ender Pearl
            I:EnderPearl=64

            # Evoker Fangs
            I:EvokerFangs=160

            # Bottle o' Enchanting
            I:ExpBottle=64

            # Falling Block
            I:FallingBlock=160

            # Fireball
            I:Fireball=64

            # Firework Rocket
            I:FireworkRocket=64

            # Fish Hook
            I:FishHook=64

            # Hanging Items
            I:Hanging=160

            # Item
            I:Item=64

            # Llama Spit
            I:LlamaSpit=64

            # Minecart
            I:Minecart=80

            # Mobs
            I:Mobs=80

            # Player
            I:Player=512

            # Potion
            I:Potion=64

            # Primed TNT
            I:PrimedTNT=160

            # Shulker Bullet
            I:ShulkerBullet=80

            # Small Fireball
            I:SmallFireball=64

            # Snowball
            I:Snowball=64

            # Squid
            I:Squid=64

            # Wither
            I:Wither=80

            # XP Orb
            I:XPOrb=160
        }

        frequencies {
            # Area of Effect Cloud
            I:AreaEffectCloud=0

            # Armor Stand
            I:ArmorStand=3

            # Arrow
            I:Arrow=20

            # Bat
            I:Bat=3

            # Boat
            I:Boat=3

            # Dragon
            I:Dragon=3

            # Egg
            I:Egg=10

            # Ender Crystal
            I:EnderCrystal=0

            # Ender Eye
            I:EnderEye=4

            # Ender Pearl
            I:EnderPearl=10

            # Evoker Fangs
            I:EvokerFangs=2

            # Bottle o' Enchanting
            I:ExpBottle=10

            # Falling Block
            I:FallingBlock=20

            # Fireball
            I:Fireball=10

            # Firework Rocket
            I:FireworkRocket=10

            # Fish Hook
            I:FishHook=5

            # Hanging Items
            I:Hanging=0

            # Item
            I:Item=20

            # Llama Spit
            I:LlamaSpit=10

            # Minecart
            I:Minecart=3

            # Mobs
            I:Mobs=3

            # Player
            I:Player=2

            # Potion
            I:Potion=10

            # Primed TNT
            I:PrimedTNT=10

            # Shulker Bullet
            I:ShulkerBullet=3

            # Small Fireball
            I:SmallFireball=10

            # Snowball
            I:Snowball=10

            # Squid
            I:Squid=3

            # Wither
            I:Wither=3

            # XP Orb
            I:XPOrb=20
        }

    }

    vde {
        # Whether or not entity view distances should scale with entity size.
        B:"Dynamic Distance"=true

        # View distance of entities as a percentage of world view distance.
        I:"Entity View Distance"=50

        # View distance of tile entities as a percentage of world view distance.
        I:"Tile Entity View Distance"=50
    }

    rbp {
        # Enable to allow placing over non solid blocks.
        B:"Fence Gate"=true

        # Enable to allow placing over non solid blocks.
        B:Pumpkin=true
    }

    serverprop {
        # How often in ticks autosave triggers.
        I:"Autosave Interval"=900

        # Maximum number of chunks unloaded per autosave.
        I:"Max Chunks Unloaded Per Autosave"=100

        # Maximum distance an entity can be pushed by pistons per game tick. 0 for unlimited.
        D:"Piston Entity Push Limit"=0.51
    }

}


