# Configuration file

general {
    # Pardon list for entities that should bleed but are internally configured not to bleed. Overrides the main exception list
    S:bleeding_exception_pardons=

    # Exception list for entities that should not bleed.
    S:bleeding_exceptions=minecraft:villager_golem,minecraft:skeleton,minecraft:skeleton_horse,minecraft:endermite

    # Default: 16. Blood multiplier level. Higher levels = more blood.
    I:blood_detail=16

    # If disabled, no blood will be dropped.
    B:blood_enabled=true

    # Blood color list for each entity type.
    S:entity_blood_colors=minecraft:squid;aa0000ff,minecraft:slime;aa75974b,minecraft:zombie;aa7a2906,minecraft:creeper;66244503,minecraft:enderman;aa8800ff,

    # Blood phosphorescent lighting effect list for each entity type.
    S:entity_blood_phoshphor=minecraft:enderman;true,

    # Default: 2. Heavy bleed chance. 1 out of X chance of bleeding.
    I:heavy_bleed_chance=2

    # Default: 15. Heavy bleed effect interval. (20 = 1 second, 40 = 2 seconds, etc) Lower = more often
    I:heavy_bleed_interval=15

    # Default: 1. Heavy bleed effect multiplier. Higher = more loss
    I:heavy_bleed_multiplier=1

    # Default: 0.5. Heavy bleed effect interval. Higher = more spread
    D:heavy_bleed_spread=0.5

    # Default: 2. Impact blood loss multiplier. Lower = less loss
    I:impact_blood_loss_multiplier=2

    # Default: 3. Light bleed chance. 1 out of X chance of bleeding.
    I:light_bleed_chance=3

    # Default: 40. Light bleed effect interval. (20 = 1 second, 40 = 2 seconds, etc) Lower = more often
    I:light_bleed_interval=40

    # Default: 1. Light bleed effect multiplier. Higher = more loss
    I:light_bleed_multiplier=1

    # Default: 0.6. Light bleed effect interval. Lower = more often
    D:light_bleed_spread=0.6

    # If disabled, the dragging blur shader effect will not be active.
    B:phosphor_blurring=true
}


