# Configuration file

~CONFIG_VERSION: 1

general {
    # INTERNAL. Development messages enabled.
    B:debug_mode=false

    # Set to false to disable all mod-specific additions to vanilla structure and activity loot tables. Loot is the only way to obtain the custom liners like the Ozzys and Ollies. Enabled by default; requires restart if changed in-game.
    B:enrich_loot_tables=true

    # Set to false to disable the portable 'goo paks' that you carry in your hotbar. Paks are a useful supplement to regular armor liners in extreme environments. Included by default; requires restart if changed in-game.
    B:include_goopaks=true

    # Set to true to enable special liners including their damage mitigation features. These items are available only as loot rewards in the standalone mod. Disabled by default; requires restart if changed in-game.
    B:include_special_liners=false

    # Set to true to include crafting recipes for items that are normally obtained through other mechanisms like looting or advancements. By default, only the ToughAsNails temperature-related 'Ozzy' liners are craftable. [default: *DEFAULT*]
    S:special_liners_craftable=*DEFAULT*

    # Set to true to force all the basic recipes to use a mod-specific element to ensure no collisions with other mod recipes. If turned ON you cannot use TAN armor as liners directly. Off by default; requires restart if changed in-game.
    B:super_compatibility_mode=true

    # Set to the maximum number of plain liners a single piece of armor can have. Applies to all types of armor pieces (helmets, chestplates, leggings, boots). Does not apply to special types of liners.
    I:thickness_limit=3

    # Set to true to force all mod items and blocks to a single custom tab in creative views. Enabled by default.
    B:use_custom_tab=true
}


##########################################################################################################
# integration
#--------------------------------------------------------------------------------------------------------#
# Armor that can be lined in addition to vanilla armor pieces. Requires restart if changed.
##########################################################################################################

integration {
    # Set to the full IDs of all modded boots that can be worn over lining up to 3 layers thick (actual max thickness depends on armor piece). Some examples shown. Requires a restart if changed in-game. [default: [basemetals:coldiron_boots], [cyclicmagic:purple_boots]]
    S:boots <
        basemetals:coldiron_boots
        cyclicmagic:purple_boots
        iceandfire:armor_red_boots
        iceandfire:armor_bronze_boots
        iceandfire:armor_green_boots
        iceandfire:armor_gray_boots
        iceandfire:armor_blue_boots
        iceandfire:armor_white_boots
        iceandfire:armor_sapphire_boots
        iceandfire:armor_silver_boots
        iceandfire:tide_red_boots
        iceandfire:tide_bronze_boots
        iceandfire:tide_green_boots
        iceandfire:tide_deepblue_boots
        iceandfire:tide_blue_boots
        iceandfire:tide_teal_boots
        iceandfire:tide_purple_boots
        iceandfire:myrmex_desert_boots
        iceandfire:myrmex_jungle_boots
        defiledlands:umbrium_boots
        defiledlands:scale_boots
        defiledlands:scale_golden_boots
        iceandfire:armor_silver_metal_boots
        iceandfire:deathworm_red_boots
        iceandfire:deathworm_yellow_boots
        iceandfire:deathworm_white_boots
        iceandfire:forest_troll_leather_boots
        iceandfire:frost_troll_leather_boots
        iceandfire:mountain_troll_leather_boots
        iceandfire:dragonsteel_fire_boots
        iceandfire:dragonsteel_ice_boots
        forgottenitems:golem_boots
        aquaculture:neptunium_boots
        rlmixins:scarlite_boots
        rlmixins:steel_boots
        variedcommodities:x407_boots
        variedcommodities:cow_leather_boots
        srparasites:armor_boots
        srparasites:armor_boots_sentient
        iceandfire:sheep_boots
        forgottenitems:cushioned_boots
     >

    # Set to the full IDs of all modded chestplates that can be worn over lining up to 3 layers thick (actual max thickness depends on armor piece). Some examples shown. Requires a restart if changed in-game. [default: [basemetals:coldiron_chestplate], [cyclicmagic:purple_chestplate]]
    S:chestplate <
        basemetals:coldiron_chestplate
        cyclicmagic:purple_chestplate
        iceandfire:armor_red_chestplate
        iceandfire:armor_bronze_chestplate
        iceandfire:armor_green_chestplate
        iceandfire:armor_gray_chestplate
        iceandfire:armor_blue_chestplate
        iceandfire:armor_white_chestplate
        iceandfire:armor_sapphire_chestplate
        iceandfire:armor_silver_chestplate
        iceandfire:tide_red_chestplate
        iceandfire:tide_bronze_chestplate
        iceandfire:tide_green_chestplate
        iceandfire:tide_deepblue_chestplate
        iceandfire:tide_blue_chestplate
        iceandfire:tide_teal_chestplate
        iceandfire:tide_purple_chestplate
        iceandfire:myrmex_desert_chestplate
        iceandfire:myrmex_jungle_chestplate
        defiledlands:umbrium_chestplate
        defiledlands:scale_chestplate
        defiledlands:scale_golden_chestplate
        iceandfire:armor_silver_metal_chestplate
        iceandfire:deathworm_red_chestplate
        iceandfire:deathworm_yellow_chestplate
        iceandfire:deathworm_white_chestplate
        iceandfire:forest_troll_leather_chestplate
        iceandfire:frost_troll_leather_chestplate
        iceandfire:mountain_troll_leather_chestplate
        iceandfire:dragonsteel_fire_chestplate
        iceandfire:dragonsteel_ice_chestplate
        forgottenitems:golem_chestplate
        aquaculture:neptunium_chestplate
        rlmixins:scarlite_chestplate
        rlmixins:steel_chestplate
        variedcommodities:x407_chest
        variedcommodities:cow_leather_chest
        variedcommodities:wizard_chest
        variedcommodities:ninja_chest
        srparasites:armor_chest
        srparasites:armor_chest_sentient
        iceandfire:sheep_chestplate
     >

    # Set to the full IDs of all modded helmets that can be worn over lining up to 3 layers thick (actual max thickness depends on armor piece). Some examples shown. Requires a restart if changed in-game. [default: [basemetals:coldiron_helmet], [cyclicmagic:purple_helmet]]
    S:helmet <
        basemetals:coldiron_helmet
        cyclicmagic:purple_helmet
        iceandfire:armor_red_helmet
        iceandfire:armor_bronze_helmet
        iceandfire:armor_green_helmet
        iceandfire:armor_gray_helmet
        iceandfire:armor_blue_helmet
        iceandfire:armor_white_helmet
        iceandfire:armor_sapphire_helmet
        iceandfire:armor_silver_helmet
        iceandfire:tide_red_helmet
        iceandfire:tide_bronze_helmet
        iceandfire:tide_green_helmet
        iceandfire:tide_deepblue_helmet
        iceandfire:tide_blue_helmet
        iceandfire:tide_teal_helmet
        iceandfire:tide_purple_helmet
        iceandfire:myrmex_desert_helmet
        iceandfire:myrmex_jungle_helmet
        defiledlands:umbrium_helmet
        defiledlands:scale_helmet
        defiledlands:scale_golden_helmet
        iceandfire:armor_silver_metal_helmet
        iceandfire:deathworm_red_helmet
        iceandfire:deathworm_yellow_helmet
        iceandfire:deathworm_white_helmet
        iceandfire:forest_troll_leather_helmet
        iceandfire:frost_troll_leather_helmet
        iceandfire:mountain_troll_leather_helmet
        iceandfire:dragonsteel_fire_helmet
        iceandfire:dragonsteel_ice_helmet
        forgottenitems:golem_helmet
        aquaculture:neptunium_helmet
        rlmixins:scarlite_helmet
        rlmixins:steel_helmet
        variedcommodities:x407_head
        variedcommodities:cow_leather_head
        variedcommodities:wizard_head
        variedcommodities:ninja_head
        srparasites:armor_helm
        srparasites:armor_helm_sentient
        iceandfire:sheep_helmet
     >

    # Set to the full IDs of all modded leggings that can be worn over lining up to 3 layers thick (actual max thickness depends on armor piece). Some examples shown. Requires a restart if changed in-game. [default: [basemetals:coldiron_leggings], [cyclicmagic:purple_leggings]]
    S:leggings <
        basemetals:coldiron_leggings
        cyclicmagic:purple_leggings
        iceandfire:armor_red_leggings
        iceandfire:armor_bronze_leggings
        iceandfire:armor_green_leggings
        iceandfire:armor_gray_leggings
        iceandfire:armor_blue_leggings
        iceandfire:armor_white_leggings
        iceandfire:armor_sapphire_leggings
        iceandfire:armor_silver_leggings
        iceandfire:tide_red_leggings
        iceandfire:tide_bronze_leggings
        iceandfire:tide_green_leggings
        iceandfire:tide_deepblue_leggings
        iceandfire:tide_blue_leggings
        iceandfire:tide_teal_leggings
        iceandfire:tide_purple_leggings
        iceandfire:myrmex_desert_leggings
        iceandfire:myrmex_jungle_leggings
        defiledlands:umbrium_leggings
        defiledlands:scale_leggings
        defiledlands:scale_golden_leggings
        iceandfire:armor_silver_metal_leggings
        iceandfire:deathworm_red_leggings
        iceandfire:deathworm_yellow_leggings
        iceandfire:deathworm_white_leggings
        iceandfire:forest_troll_leather_leggings
        iceandfire:frost_troll_leather_leggings
        iceandfire:mountain_troll_leather_leggings
        iceandfire:dragonsteel_fire_leggings
        iceandfire:dragonsteel_ice_leggings
        forgottenitems:golem_leggings
        aquaculture:neptunium_leggings
        variedcommodities:diamond_skirt
        variedcommodities:iron_skirt
        variedcommodities:golden_skirt
        variedcommodities:chain_skirt
        variedcommodities:leather_skirt
        rlmixins:scarlite_leggings
        rlmixins:steel_leggings
        variedcommodities:x407_legs
        variedcommodities:cow_leather_legs
        variedcommodities:wizard_pants
        variedcommodities:ninja_legs
        srparasites:armor_pants
        srparasites:armor_pants_sentient
        iceandfire:sheep_leggings
     >
}


